<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ecdf9005-bdc4-4080-b774-a887d53d2055/resourcegroups/donnyves/providers/Microsoft.Web/sites/sportsstorewebDonnyves</ResourceId>
    <ResourceGroup>donnyves</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sportsstorewebdonnyves.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sportsstorewebdonnyves.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>sportsstorewebDonnyves</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$sportsstorewebDonnyves</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SportsStore.Domain.Concrete.EFDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:donnyves.database.windows.net,1433;Initial Catalog=SportsStore;Persist Security Info=False;User ID=donnyves;Password=do12nn17ASD;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:donnyves.database.windows.net,1433;Initial Catalog=SportsStore;Persist Security Info=False;User ID=donnyves;Password=do12nn17ASD;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SportsStore.Domain.Concrete.EFDbContext, SportsStore.Domain" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SportsStore.Domain.Concrete.EFDbContext-Web.config Connection String">
      <ParameterValue>Server=tcp:donnyves.database.windows.net,1433;Initial Catalog=SportsStore;Persist Security Info=False;User ID=donnyves;Password=do12nn17ASD;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EFDbContext-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="SportsStore.Domain.Concrete.EFDbContext" />
  </ItemGroup>
</Project>